.footer{
  padding: 15px;
  background: radial-gradient(circle at 50% 110%, #ae0000, #630000);
  color: $header_text_color;
  height: 100px;
  margin-top: -100px;
}
.social__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.social__item {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  @media (min-width: 768px){
    width: 25px;
    height: 25px;
  }
}

.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
}
.social__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: $main-color;
  transition: .4s all;
  @media (min-width: 768px){
    width: 25px;
    height: 25px;
  }
}
.social__icon:hover {
  opacity: .7;
  transform: scale(1.2);
}
.info__list {
  display: flex;
  justify-content: center;
}
.info__item {
  margin-right: 20px;
}
.info__item:last-child {
  margin-right: 0;
}
.info__link {
  font-size: rem(11);
  text-decoration: none;
  color: $main-color;
  transition: .4s all;
  @media (min-width: 768px){
    font-size: rem(14);
  }
  @media (min-width: 1024px){
    font-size: rem(16);
  }
}
.info__link:hover {
  opacity: .7;
}