.footer{
  padding: 15px;
  background-color: $main-color;
  color: $header_text_color;
  border-top: 1px solid #333;
}
.social__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.social__item {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.social__link {
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
}
.social__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: $header_text_color;
  transition: .5s all;
}
.social__icon--mod:hover {
  fill: #fff;
}
.info__list {
  display: flex;
  justify-content: center;

}
.info__item {
  margin-right: 15px;
}
.info__link {
  font-size: rem(11);
  text-decoration: none;
  color: $header_text_color;
  transition: .5s all;
  @media (min-width: 1024px){
    font-size: rem(16);
  }
}
.info__link:hover {
  color: #fff;
}