.main-card {
  max-width: 1040px;
  padding: 10px;
  margin: 0 auto;
  color: $main-color;
  @media (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: 960px){
    width: 720px;
  }
  @media (min-width: 1024px){
    width: 975px;
  }
  @media (min-width: 1440px){
    width: 1040px;
  }
  &-info {
    padding: 0 7px;
    @media (min-width: 768px){
      padding: 0;
      order: 2;
      width: 60%;
    }
  }
  .main-title {
    position: absolute;
    top: calc(70%);
    left: calc(5%);
    color: #fff;
    font-family: $med-font;
    font-size: rem(20);
  }
  @media (min-width: 768px){
    padding: 35px 25px;
  }
  @media (min-width: 960px){
    padding: 30px 0 35px 0;
  }
  @media (min-width: 1440px){
    padding: 65px 0;
  }
}

.main-title.mob {
  @media (min-width: 480px) {
    font-size: rem(26.66);
  }
  @media (min-width: 768px){
    display: none;
  }
}

.main-title.desk {
  display: none;
  @media (min-width: 768px){
    display: block;
    position: static;
    color: $headers-color;
    font-size: rem(16);
    margin-bottom: 5px;
  }
  @media (min-width: 1024px){
    font-size: rem(20);
    margin-bottom: 15px;
  }
}

.main-card__img {
  position: relative;
  margin-bottom: 10px;
  @media (min-width: 768px){
    width: 37%;
    order: 1;
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
}

.icons-block {
  margin-bottom: 18px;
  @media (min-width: 480px) {
    margin-bottom: 30px;
  }
  @media (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.icon {
  width: 17px;
  height: 17px;
  display: inline-block;
  transition: .5s ease-in-out;
  @media (min-width: 480px) {
    width: 20px;
    height: 20px;
  }
  @media (min-width: 768px) {
    width: 12px;
    height: 12px;
  }
  @media (min-width: 1024px){
    width: 15px;
    height: 15px;
  }
  &.star {
    margin-right: 10px;
    fill: $main-color;
    @media (min-width: 768px) {
      margin-right: 7px;
    }
  }
}
.icon:hover {
  transform: scale(1.2);
  transition: .5s ease-in-out;
  cursor: pointer;
  fill: #FFD700;
}

.icons {
  // width: 15%;
  width: 5%;
  // display: inline-block;
  float: right;
  @media (min-width: 768px){
    float: none;
  }
}

.rel-date {
  // float: right;
  color: $main-color;
  font-family: $reg-font;
  font-size: rem(14);
  @media (min-width: 480px) {
    font-size: rem(17);
  }
  @media (min-width: 768px){
    display: none;
  }
}

.main-description {
  font-size: rem(16);
  font-family: $reg-font;
  margin-bottom: 30px;

  .main-block-header {
    display: none;
    @media (min-width: 768px){
      display: block;
      font-family: $med-font;
      font-size: rem(16);
      margin-bottom: 10px;
    }
    @media (min-width: 1024px){
      font-size: rem(20);
      margin-bottom: 22px;
    }
  }

  @media (min-width: 480px) {
    font-size: rem(21.31);
    margin-bottom: 45px;
  }
  @media (min-width: 768px){
    margin-bottom: 0;
  }
  p {
    font-size: rem(15);
    color: #c7c7c7;
    @media (min-width: 480px){
      font-size: rem(17);
    }
    @media (min-width: 768px){
      font-size: rem(12);
    }
    @media (min-width: 960px){
      font-size: rem(14);
    }
    @media (min-width: 1024px){
      font-size: rem(16);
    }
  }
}

.main-block-header {
  font-family: $reg-font;
  font-size: rem(16);
  color: $main-color;
  margin-bottom: 14px;
  @media (min-width: 480px) {
    font-size: rem(21.31);
    margin-bottom: 18px;
  }
}
.main-slider {
  position: relative;
  display: flex;
  justify-content: center;

}
.main-actors {
  margin-bottom: 50px;
  padding: 0 7px;
  @media (min-width: 480px) {
    margin-bottom: 65px;
  }
  @media (min-width: 768px) {
    width: 100%;
    padding: 0;
    order: 4;
    margin-bottom: 30px;
  }
  .main-block-header {
    @media (min-width: 768px) {
      font-size: rem(16);
      font-family: $med-font;
      margin-bottom: 15px;
    }
    @media (min-width: 1024px){
      font-size: rem(20);
      margin-bottom: 30px;
    }
  }

  &-list {
    display: flex;
    justify-content: space-around;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .actor-blk {
    width: 23%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      margin-bottom: 5px;
    }
    h4 {
      font-size: rem(14);
      color: $grey_color;
      font-family: $reg-font;
      @media (min-width: 480px) {
        font-size: rem(16);
      }
      @media (min-width: 768px) {
        font-size: rem(10);
      }
      @media (min-width: 1024px){
        font-size: rem(12);
      }
    }
  }
}
.main-actors-list:nth-of-type(2) {
  display: none;
  @media(min-width: 768px) {
    display: flex;
  }
}

.main-trailer {
  padding: 0 7px;
  margin-bottom: 35px;
  @media (min-width: 480px) {
    margin-bottom: 50px;
  }
  @media (min-width: 768px) {
    width: 100%;
    order: 3;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
  }
  @media (min-width: 960px){
    margin-top: 60px;
    margin-bottom: 35px;
  }
  @media (min-width: 1024px){
    margin-top: 40px;
    margin-bottom: 70px;
  }

  &-container {
    @media (min-width: 768px) {
      padding: 0 175px;
    }
  }
  .main-block-header {
    @media (min-width: 768px) {
      font-size: rem(16);
      font-family: $med-font;
      margin-bottom: 10px;
    }
    @media (min-width: 1024px){
      font-size: rem(20);
      margin-bottom: 25px;
    }
  }
}

.main-trailer-frame {
  border: 5px solid #979797;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  & iframe,.myvideo object,.myvideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-reviews {
  padding: 0 7px;
  width: 100%;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    order: 6;
    margin-top: 35px;
    padding: 0;
  }
  @media (min-width: 1024px){
    margin-top: 70px;
  }

  &__review {
    display: flex;
    margin-bottom: 15px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      @media (min-width: 480px) {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
      @media (min-width: 768px) {
        width: 55px;
        height: 55px;
      }
      @media (min-width: 1024px){
        width: 80px;
        height: 80px;
        margin-right: 15px;
      }
    }
    h4, p, span {
      font-size: rem(12);
      color: #231f20;
      font-family: $reg-font;
      @media (min-width: 480px) {
        font-size: rem(14);
      }
      // @media (min-width: 768px) {
      //   font-size: rem(14);
      // }
      // @media (min-width: 1024px){
      //   font-size: rem(14);
      // }
    }
    h4 {
      color: $main-color;
      width: 60%;
      display: inline-block;
      margin-bottom: 6px;
      word-wrap: break-word;
      @media (min-width: 1024px){
        margin-bottom: 20px;
      }
    }
    p {
      color: #757575;
      width: 84%;
      word-wrap: break-word;
      @media (min-width: 768px) {
        width: 100%;
        font-size: rem(14);
      }
      // @media (min-width: 1024px){
      //   font-size: rem(14);
      // }
    }
    span {
      color: #757575;
      width: 35%;
      text-align: right;
      float: right;
      @media (min-width: 768px) {
        width: 20%;
      }
    }
    .review-text {
      width: 84%;
      @media (min-width: 768px) {
        width: 100%;
      }
    }
  }
  .main-block-header {
    @media (min-width: 768px) {
      font-size: rem(16);
      font-family: $med-font;
    }
    @media (min-width: 1024px){
      font-size: rem(20);
      margin-bottom: 30px;
    }
  }
}

.main-fields {
  display: none;
  line-height: 2;
  font-family: $reg-font;
  font-size: rem(12);

  &__field {
    padding-left: 15px;
  }
  &__field:nth-child(2n-1) {
    background:  linear-gradient( to right,
      rgba(92, 90, 87, 1), 
      rgba(92, 90, 87, .2)
    );
  }
  &__field:nth-child(2n) {
    background:  linear-gradient( to right,
      rgba(92, 90, 87, .5), 
      rgba(92, 90, 87, .1)
    );
  }
  &__field a {
    color: $grey_color;
  }
  &__field a:hover {
    color: $main-color;
    text-decoration: none;
  }
  @media (min-width: 1024px){
    font-size: rem(16);
  }
  @media (min-width: 768px) {
    display: block;
    margin-bottom: 15px;
    h5 {
      display: inline-block;
      width: 30%;
    }
    span {
      display: inline-block;
      width: 65%;
    }
  }
}

.main-screenshots {
  display: none;
  @media (min-width: 768px) {
    display: block;
    order: 5;
    width: 100%;
  }
  .main-block-header {
    @media (min-width: 768px) {
      font-size: rem(16);
      font-family: $med-font;
      margin-bottom: 15px;
    }
    @media (min-width: 1024px){
      font-size: rem(20);
      margin-bottom: 30px;
    }
  }
}

.search-error {
  color: red;
  font-family: $reg-font;
  font-size: rem(20);
  width: 100%;
  text-align: center;
}
.button-panel {
  order: 6;
  width: 100%;
  text-align: center;
}
.button-back {
  cursor: pointer;
  font-family: $reg-font;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  font-size: rem(15);
}