
.mainform {
	@media screen and (min-width: 320px) and (max-width: 767px){
		width: 100%;
	}
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 15px;
	input, textarea {
		width: 100%;
		border: solid 1px #CCCCCC;
		margin-bottom: 5px;
		padding: 4px;
		outline: 0;
		font-family: $reg-font;
		background: #F9F9F9;
		border-radius: 4px;
	}
	input:hover, textarea:hover, input:focus, textarea:focus {
		background-color: rgb(247, 246, 187);
		border-color: yellow;
	}
}

textarea {
	height: 150px;
	line-height: 150%;
	resize: none
}

