.content {
    padding: 20px 8px;
}

.gallary {
    min-width: 360px;
    max-width: 1440px;
}

.header-bottom {
    display: none;
}

.top-form {
    display: none;
    margin-bottom: 20px;
    padding: 0 10px;
    font-family: 'Roboto-Regular';
    font-size: rem(16);
    color: #372c48;
    // display: flex;
    justify-content: space-between;
    .category-form {
        // .—Åategory {
        //     display: none;
        // }
        .subset {
            display: none;
        }
    }
    .find-form {
        // must display with subset
        display: flex;
    }
}

.top-form--active {
    display: flex;
}

.category-choose {
    display: none;
}

.find-form {
    display: flex;
    &__name {
        margin-right: 15px;
    }
    &__name,
    &__date {
        display: flex;
        .name-range,
        .date-range {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .name-txt,
        .date-txt {
            cursor: pointer;
            margin-right: 6px;
        }
        .name-txt--big {
            display: none;
        }
    }
    .range-button {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        &:hover {
            cursor: pointer;
        }
    }
    .top-range {
        border-bottom: 6px solid $main-color;
    }
    .bottom-range {
        border-top: 6px solid $main-color;
    }
}

// .film-preview {
//     display: none;
// }
.videos {
    .videos-item {
        display: none;
    }
    .videos-item--active {
        display: block;
    }
    //for example
    .film-preview {
        background: url(../img/-clip-group-.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .serial-preview {
        background: url(../img/kitchen.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .favorite-preview {
        background: url(../img/taxi-2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &__preview {
        padding: 15px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 8px;
        height: 175px;
        // background: url(../img/-clip-group-.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: inset 0 0px 0px 0px #000, inset 0 -40px 100px 10px #333;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            cursor: pointer;
            transition: 1s ease-in-out;
            box-shadow: none;
        }
        .icons {
            align-self: flex-end;
            .icon {
                width: 17px;
                height: 17px;
                display: block;
                fill: #fff;
            }
            .icon:hover {
                transform: scale(1.2);
                transition: .5s ease-in-out;
                cursor: pointer;
                fill: #FFD700;
            }
        }
    }
    &__name {
        color: #fff;
        font-family: 'Roboto-Regular';
        font-size: rem(16);
        &:hover {
            color: #FFD700;
        }
    }
}

///media
@media(min-width: 480px) {
    .content {
        padding: 25px 10px;
    }
    .top-form {
        margin-bottom: 25px;
        font-size: rem(20)
    }
    .find-form {
        &__name {
            margin-right: 20px;
        }
        .range-button {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
        .top-range {
            border-bottom: 7px solid $main-color;
        }
        .bottom-range {
            border-top: 7px solid $main-color;
        }
    }
    .videos {
        &__preview {
            padding: 20px 20px 25px 20px;
            margin-bottom: 10px;
            height: 220px;
            .icons {
                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__name {
            font-size: rem(25);
        }
    }
}

@media(min-width: 768px) {
    /// new top category
    .header-bottom {
        display: block;
        box-shadow: 0 5px 10px -3px #c0c0c0;
        margin-bottom: 10px;
    }
    .top-nav {
        display: flex;
    }
    // .top-form {
    //     display: none;
    // }
    // .top-form--active {
    //     display: flex;
    // }
    .find-form {
        display: block;
    }
    .category-list {
        margin: auto;
        text-transform: uppercase;
        font-size: rem(14);
        display: flex;
        .category-item {
            padding: 20px 25px 20px 25px;
            color: #372c48;
            font-family: 'Roboto-Medium';
            opacity: 0.7;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
        .category-item--active {
            opacity: 1;
            border-bottom: 2px solid;
        }
    }
    .content {
        padding: 25px 25px
    }
    .top-form {
        margin-bottom: 20px;
        font-size: rem(16);
        padding: 0;
    }
    .find-form {
        &__name {
            margin-right: 40px;
        }
        .name-txt--small {
            display: none;
        }
        .name-txt--big {
            display: block; ///chek it!!
        }
        .range-button {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
        .top-range {
            border-bottom: 5px solid $main-color;
        }
        .bottom-range {
            border-top: 5px solid $main-color;
        }
    }
    .videos {
        .videos-item {
            display: none;
        }
        .videos-item--active {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__preview {
            width: 49%;
            padding: 15px 15px 10px 15px;
            margin-bottom: 15px;
            height: 175px;
            .icons {
                .icon {
                    width: 17px;
                    height: 17px;
                }
            }
            &:last-child,
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
        &__name {
            font-size: rem(13);
        }
    }
}

@media(min-width: 960px) {
    .content {
        padding: 25px 120px
    }
    .top-form {
        margin-bottom: 20px;
        font-size: rem(16);
        padding: 0;
    }
    .videos {
        &__preview {
            padding: 15px 15px 15px 15px;
        }
    }
}

@media(min-width: 1024px) {
    .content {
        padding: 25px 25px
    }
    .top-form {
        margin-bottom: 25px;
    }
    .find-form {
        .range-button {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
        .top-range {
            border-bottom: 7px solid $main-color;
        }
        .bottom-range {
            border-top: 7px solid $main-color;
        }
    }
    .videos {
        &__preview {
            height: 250px;
        }
        &__name {
            font-size: rem(20);
        }
    }
}

@media(min-width:1440px) {
    .content {
        padding: 25px 200px
    }
    .videos {
        &__preview {
            height: 255px;
        }
    }
}