@import'_reset.scss';
@import'_fonts.scss';
@import'_variables.scss';
@import'_mixins.scss';
.subscription {
    // display: block;
    border: 1px solid black; // delete
    background-color: #fff;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 280px;
    z-index: 999;
    border-radius: 6px;
    padding: 40px;
    //answer
    &__answer {
        display: flex;
        flex-direction: column;
        display: none;
    }
    .subscription-title {
        font-family: 'Roboto-Regular';
        font-size: rem(20);
        margin-bottom: 20px;
    }
    .about-txt {
        margin-bottom: 60px;
        color: #778899;
    }
    .ok-btn,
    .sub-btn {
        align-self: flex-end;
        color: $main-color;
        text-transform: uppercase;
        border: 0;
        background-color: inherit;
    }
    &__form {
        .sub-form {
            display: flex;
            flex-direction: column;
            .input-userdata {
                margin-bottom: 20px;
                border: 0;
            }
        }
    }
}

@media(min-width: 480px) {
    .subscription {
        padding: 30px;
        height: 320px;
        .subscription-title {
            font-size: rem(25);
        }
        &__form {
            .sub-form {
                .input-userdata,
                .sub-btn {
                    font-size: rem(20);
                    margin-bottom: 30px;
                }
            }
        }
        &__answer {
            .about-txt {
                font-size: rem(20)
            }
            .ok-btn {
                font-size: rem(20)
            }
        }
    }
}

@media(min-width: 1024px) {
    .subscription {
        opacity: 0.9;
    }
}